/* ---------------------------------------------------
   #CSS Code Here
---------------------------------------------------- */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* -------------------------------------------------
  #Header Start  
  --------------------------------------------------*/
header {
  width: 90%;
  padding-top: 87px;
  padding-bottom: 90px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

.logo {
  flex: 1;
  font-size: 24px;
}

nav li {
  color: #3a3a3a;
  list-style: none;
  font-size: 16px;
  margin-right: 34px;
}

nav a {
  text-decoration: none;
  color: #3a3a3a;
}

#glass {
  width: 24px;
  height: 24px;
  color: #3a3a3a;
  font-size: 28px;
}

#shopping {
  width: 36px;
  height: 36px;
  font-size: 30px;
  color: #3a3a3a;
}

/* -------------------------------------------------
  #Header End  
  --------------------------------------------------*/

/* -------------------------------------------------
  #Main Tag Start 
  --------------------------------------------------*/
main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------
  #Top Section Start 
  --------------------------------------------------*/
.tops {
  display: flex;
}
.top-section {
  width: 45%;
  float: left;
  margin-left: 70px;
}

.top-img {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
}

h1 {
  font-size: 45px;
  color: #3a3a3a;
  padding-top: 68px;
}

p {
  font-size: 16px;
  color: #3a3a3a;
  padding-bottom: 16px;
}

button {
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 13px;
  padding-top: 17px;
}

#arrow {
  color: #ffffff;
  flex: none;
  gap: 10px;
  font-size: 16px;
}

/* -------------------------------------------------
  #Top Section End 
  --------------------------------------------------*/

/* -------------------------------------------------
  #Company Section Start 
  --------------------------------------------------*/
.logos-company {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 40px;
  border-top: 3px solid rgba(128, 128, 128, 0.61);
  border-bottom: 3px solid rgba(128, 128, 128, 0.61);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 25px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* -------------------------------------------------
  #Products Section Start 
  --------------------------------------------------*/
.product-text {
  font-size: 22px;
  text-align: center;
}

.products {
  width: 1100px;
  display: flex;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 30px;
}

.product-title {
  color: black;
}

.product-price {
  font-size: 20px;
  color: #3a3a3a;
}

.product-article {
  width: 300px;
  height: 510px;
  padding: 15px;
  box-shadow: 10px 10px 40px grey;
  border-radius: 10px;
}

.product-img img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}

span {
  font-size: 13px;
  color: #fb8200;
}

#ratting {
  font-size: 13px;
  color: black;
}

/* -------------------------------------------------
  #Products Section Start 
  --------------------------------------------------*/
/* -------------------------------------------------
  #New Page 
  --------------------------------------------------*/
h5 {
  padding-top: 0;
  margin-left: 850px;
}

h5 a {
  color: #e02c6d;
  font-size: 25px;
  text-decoration: none;
}

/* -------------------------------------------------
  #New Page 
  --------------------------------------------------*/
/* -------------------------------------------------
  #End Section Here
  --------------------------------------------------*/
.end-sections {
  display: flex;
  justify-content: center;
}
.end-section {
  width: 45%;
  padding-top: 80px;
}

.end-img img {
  width: 450px;
  height: 290px;
}

.info img {
  margin-left: 35px;
}

/* -------------------------------------
#footer star 
----------------------------------------*/
footer {
  background-color: black;
  width: 100%;
}

.footer {
  padding: 30px;
  color: white;
}

.footer-title {
  color: #ffffff;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

small {
  color: #ffffff;
  font-size: 18px;
  justify-content: center;
  display: flex;
}

small a {
  margin: 0 5px;
  font-size: 16px;
  color: #3a3a3a;
}

.footer-info {
  color: #ffffff;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  color: #ffffff;
  font-size: 14px;
  margin: 0 10px;
}

.fa-brands {
  background-color: #3a3a3a;
  border: 10px solid #3a3a3a;
  border-radius: 50px;
}

/* -------------------------------------
#footer End
----------------------------------------*/

/* -------------------------------------
#Medea Query star 
----------------------------------------*/

/* -------------------------------------
#Mobile Phone 
----------------------------------------*/
@media only screen and (max-width: 688px) {
  .navbar {
    display: flex;
  }
  li a {
    display: none;
  }
  .container {
    width: 100%;
  }
  .tops,
  .end-sections {
    width: 100%;
    display: grid;
  }
  .top-section,
  .end-section {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h5 {
    width: 100%;
  }
  h5 a {
    display: flex;
    align-items: center;
  }
  .pro-title {
    width: 100%;
  }
}
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .logos-company {
    grid-template-columns: repeat(1, 1fr);
  }
  .logos {
    flex-direction: column;
    padding: 20px;
  }
}
/* -------------------------------------
#Mobile Phone End
----------------------------------------*/

/* -------------------------------------
#Tablet 
----------------------------------------*/
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .navbar {
    display: flex;
  }
  li a {
    display: none;
  }
  .container {
    width: 100%;
  }
  .tops,
  .end-sections {
    width: 100%;
    display: grid;
  }
  .top-section,
  .end-section {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h5 {
    width: 100%;
  }
  h5 a {
    display: flex;
    align-items: center;
  }
  .pro-title {
    width: 100%;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .logos-company {
    grid-template-columns: repeat(2, 1fr);
  }
  .logos {
    flex-direction: column;
    padding: 20px;
  }
}
/* -------------------------------------
#Tablet 
----------------------------------------*/
/* The End */
